.container{
    width: 1000px;
    margin: 50px;
}

.sfondo{
    width: 1000px;
    margin: 50px;
    background-image: url('../img/graph.jpg');
}

/* header */
.title{
    font-size: 40px;
}

.write-by{
    color: #4c89bf;
}

.date{
    font-size: 10px;
}

/* main */
.tim{
    margin: 8px;
}

.img{
    width: 490px;
    height: 300px;
}

.img2{
    width: 490px;
    height: 300px;
}

.description-photo{
    font-size: 10px;
}

#most-important{
    background-color: yellow;
}

.table, th, td{
    border-collapse: collapse;
}

#body-header{
    background-color: rgb(0, 255, 255);
    text-align: left;
}

#body{
    background-color: lightblue;
}

/* footer */

h2{
    color: rgba(77, 72, 72, 0.445);
}