.container{
    width: 1000px;
    background-color:lightgrey;
    margin: 50px;
}

/* header */
.write-by{
    color: #4c89bf;
}
.date{
    font-size: 12px;
}

/* main */
.tim{

}
.img{
    width: 200px;
    height: 200px;
}

.img2{
    width: 200px;
    height: 200px;
}

.description-photo{
    font-size: 10px;
}

#most-important{
    background-color: yellow;
}

.table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#body-header{
    background-color: rgb(0, 255, 255);
}

#body{
    background-color: lightblue;
}